<div class="my">

<!-- ヘッダー部分 -->
<div id="header">
  <%= render 'application/title' %>
</div><!-- #header -->   

<!-- メイン部分 -->
<div id="main">
  <%= render 'application/arlist' %>
</div><!-- #main -->

<!-- サイド部分 -->
<div id="side">  
  <%= render 'application/prof', mem: @mem %>
</div><!-- #side -->

<!-- フッター部分 -->
<div id="footer">
  <%= render 'application/footer' %>
</div><!-- footer -->



</div><!-- #my -->   