// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile table{
	width: 100%;
	border: #f6bb9e 2px solid;
}

#profile th,
#profile td{
	border: #f6bb9e 1px solid;
	padding: 5px 10px;
}
